{% extends 'layout.twig' %}

{% block head %}
<title>Administration</title>
{% endblock %}

{% block content %}
<div container>
<p>Bienvenue sur la page d'administration du site</p> 
</div>

{% endblock %}