{% extends 'layout.twig' %}

{% block head %}
<title>Connection</title>
{% endblock %}

{% block content %}


<header id="home" class="sections">
    <div class="container">

        <div class="row">
            <div class="homepage-style">

                

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form class="form-horizontal" method="post" action="index.php?c=member&t=login">
            <div class="form-group">
                <label class="col-md-3 control-label" for="mail">Pseudo</label>
                <div class="col-md-4">
                    <input id="pseudo" type="text" class="form-control" name="pseudo" ng-model="Text" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="Password">Mot de passe</label>
                <div class="col-md-4">
                    <input id="Password" type="password" class="form-control" name="password" ng-model="Password" />
                </div>
            </div>
         <div class="g-recaptcha" data-sitekey="6LfTh2gUAAAAAAUkSq2sVzS5KwZqPbnV58b4PVGH"></div>   <!--Local--> 
            <!--  <div class="g-recaptcha" data-sitekey="6LfFD2QUAAAAAECggMAv9gV_rLN7PryYZ_5IZWIV"></div>  -->  
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn btn-default" name="login" value="Connexion" />
                </div>
            </div>
            
        </form>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="slider-area">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">
                                    <a href="index.php?c=map&t=brooklyn"><img src="public/assets/images/brooklyn.jpg" alt="" /></a>
                                </div>

                                <div class="item">
                                    <a href="index.php?c=map&t=financial"><img src="public/assets/images/financial.jpg" alt="" /></a>
                                </div>

                                <div class="item">
                                    <a href="index.php?c=map&t=central"><img src="public/assets/images/central.jpg" alt="" /></a>
                                </div>

                                <div class="item">
                                    <a href="index.php?c=map&t=midtown"><img src="public/assets/images/times.jpg" alt="" /></a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</header>



<div class="scroll-top">

    <div class="scrollup">
        <i class="fa fa-angle-double-up"></i>
    </div>

</div>


{% endblock %}