{% extends 'layout.twig' %}

{% block head %}
<title>Accueil</title>
{% endblock %}

{% block content %}

<div class='preloader'><div class='loaded'>&nbsp;</div></div>

<!--Home page style-->
<header id="home" class="sections">
    <div class="container">

        <div class="row">
            <div class="homepage-style">

                <div class="top-arrow hidden-xs text-center"><img src="public/assets/images/top-arrow.png" alt="" /></div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="unique-apps">
                        <h2>PREPAREZ VOTRE VOYAGE <br>POUR NEW YORK </h2>
                        <p>
                        Votre départ pour NEW-YORK approche et vous ne savez pas quelles visites faire dans les différents quartiers ?<br> Vous souhaitez en visiter
                            le plus possible sans perdre de temps ?<br> <br>Planifiez votre voyage avec nos cartes par quartier.<br> De Financial district à Central Park
                            en passant par Times Square et Brooklyn ne ratez rien de Big Apple !! Cliquez sur l'image du quartier que vous voulez visiter.
                        </p>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="slider-area">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">
                                    <img src="public/assets/images/brooklyn.jpg" alt="" />
                                </div>

                                <div class="item">
                                    <img src="public/assets/images/financial.jpg" alt="" />
                                </div>

                                <div class="item">
                                    <a href="index.php?c=map&t=central"><img src="public/assets/images/central.jpg" alt="" /></a>
                                </div>

                                <div class="item">
                                    <img src="public/assets/images/times.jpg" alt="" />
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</header>



<div class="scroll-top">

    <div class="scrollup">
        <i class="fa fa-angle-double-up"></i>
    </div>

</div>
<section id="our-portfolio" class="sections">
            <div class="container">

                <div class="row">
                    <div class="heading">
                        <div class="title text-center arrow-right">
                            <h4 class="">Les sorties à New York </h4>
                            <img class="hidden-xs" src="public/assets/images/right-arrow.png" alt="" />

                        </div>
                    </div>	


                    <!-- Example row of columns -->
 {% for item in list  %}
                    <div class="portfolio-wrap">
                       
                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>{{ item.title }}</h4>
                                    <p>
                                        {{ item.content }}
                                    </p>
                                    <button class="btn pt-btn btn-primary">Voir l'article</button>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="public/assets/images/central.jpg" alt="" />
                            </div>

                        </div>



                        
                    </div>
                    <hr>
{% endfor %}
                </div>
            </div>


            <!-- /container -->       
        </section>




{% endblock %}