<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Préparez votre voyage pour New York">
    <meta name="author" content="Julien BEUNAICHE">
    <!--Twitter-->

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="New York"/>
    <meta name="twitter:description" content="Préparer votre voyage"/>

    <!--Facebook-->

    <meta property="og:title" content="New York"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="www.newyork.jbeunaiche.fr"/>
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/css/plugins.css"/>
    <link rel="stylesheet" href="public/assets/css/style.css">
    <link rel="stylesheet" href="public/assets/css/responsive.css"/>
    <script src="public/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>
<body>
<div id="menubar" class="main-menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="public/assets/images/logo.png" alt=""/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.php?c=index&t=home">Accueil</a></li>
                    <li><a href="index.php?c=member&t=connexion">Se connecter</a></li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
{% block content %}{% endblock %}
<!--Footer-->
<footer id="footer" class="footer">
    <div class="container">

        <div class="row">
            <div class="main-footer">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <h2>Suivez Nous</h2>
                        <ul>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <h2>Reservez votre avion</h2>
                        <ul>
                            <li><a href="#">Air NY</a></li>
                            <li><a href="#">Air Statue</a></li>
                            <li><a href="#">Air Empire</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <h2>Réservez votre hôtel</h2>
                        <ul>
                            <li><a href="#">Sleep NY</a></li>
                            <li><a href="#">Sleep Empire</a></li>
                            <li><a href="#">Sleep CentralPark</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <h2>Copyright©</h2>
                        <ul>
                            <li><a href="index.php?c=admin&t=admin">Administration</a></li>
                            <li><a href="index.php?c=member&t=logout">Déconnexion</a></li>
                            <li>Septembre 2018</li>

                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>

</footer>

<!-- JavaScript -->
<script src="public/assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="public/assets/js/vendor/bootstrap.min.js"></script>
<script src="public/assets/js/plugins.js"></script>
<script src="public/assets/js/main.js"></script>
<script src="js/map.js"></script>
<script src="js/markerclusterer.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXewuqkYjNACyaMsgggn8NSeJaX5DYvTU&callback=initMap" async
        defer></script>

</body>
</html>