<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/css/plugins.css"/>
    <link rel="stylesheet" href="public/assets/css/style.css">
    <link rel="stylesheet" href="public/assets/css/responsive.css"/>
    <script src="public/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>
<body>

<div id="menubar" class="main-menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="public/assets/images/logo.png" alt=""/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="index.php?c=admin&t=admin">Administration</a></li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<br><br><br><br><br><br>
<div class="container">

    <div class="row">
        <div class="homepage-style">


            <div class="col-md-6 col-sm-6 col-xs-12">
                <form action="index.php?c=admin&t=addNews" method="post">
                    <div>
                        <label for="title">Titre</label><br/>
                        <input type="text" id="title" name="title" >
                    </div>
                    <div>
                        <label for="content">Texte de l'article</label><br />
                        <textarea id="content" name="content"></textarea>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-outline-success" name="add" value="Ajouter l'article" />

                </form>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="slider-area">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
                         data-interval="3000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <img
                                        src="public/assets/images/brooklyn.jpg" alt=""/>
                            </div>

                            <div class="item">
                                <img
                                        src="public/assets/images/financial.jpg" alt=""/>
                            </div>

                            <div class="item">
                                <img src="public/assets/images/central.jpg"
                                     alt=""/>
                            </div>

                            <div class="item">
                                <img src="public/assets/images/times.jpg"
                                     alt=""/>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
<script src="public/assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="public/assets/js/vendor/bootstrap.min.js"></script>
<script src="public/assets/js/plugins.js"></script>
<script src="public/assets/js/main.js"></script>

</body>
</html>